<header class="bg-gray-900 mb-6 md:mb-12 px-6 md:px-0">
    <div class="flex items-center justify-between container mx-auto pt-6 pb-2">
        <a href="/">
            <h2 class="text-white text-3xl">{{ site:name }}</h2>
        </a>
        <a class="flex items-center text-white space-x-4" href="{{ link to='/cart' }}">
            <i class="fas fa-shopping-cart" style="font-size: 25px;"></i>
            <span class="flex flex-col">
                <span class="text-xl leading-none font-medium">{{ sc:cart:total ?? '£0.00' }}</span>
                <span class="text-sm">{{ sc:cart:count }} items</span>
            </span>
        </a>
    </div>
    <nav class="flex items-center container mx-auto pt-4 pb-6 space-x-6">
        {{ nav:pages as='pages' include_home='true' }}
            {{ pages }}
                <a class="text-white {{ if current_uri === url }} font-semibold {{ else }} font-medium {{ /if }}" href="{{ url }}">{{ title }}</a>
            {{ /pages }}
        {{ /nav:pages }}
    </nav>
</header>
