<section class="py-8 border-b border-gray-200">
    <div class="max-w-4xl mx-auto">
        <h2 class="text-center text-4xl font-semibold mb-2">Your cart</h2>
    </div>
</section>

<main>
    <div class="max-w-4xl mx-auto my-12">
        {{ if {sc:cart:has} === false || {sc:cart:count} === 0 }}
            <p>Your cart is empty. <a href="/catalog">Start shopping</a>.</p>
        {{ /if }}

        {{ sc:cart }}
            <table class="table-auto w-full">
                <thead>
                    <tr class="border-b border-gray-200">
                        <th class="px-2 py-4 text-left font-semibold text-sm w-2/3">Name</th>
                        <th class="px-2 py-4 text-left font-semibold text-sm">Price</th>
                        <th class="px-2 py-4 text-left font-semibold text-sm">Quantity</th>
                        <th class="px-2 py-4 text-left font-semibold text-sm">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{ items }}
                        <tr class="border-b border-gray-200">
                            <td class="text-sm px-2 py-4">
                                <div class="flex flex-row items-center">
                                    <a class="block" href="{{ product:url }}">
                                        {{ product:gallery }}
                                            {{ if first }}
                                                <img class="w-16" src="{{ url }}" alt="{{ alt }}">
                                            {{ /if }}
                                        {{ /product:gallery }}
                                    </a>
                                    <div class="px-2">
                                        <span class="font-semibold">{{ product:title }}</span><br>
                                        <a class="mt-1 block text-sm text-gray-700" href="#">Remove</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-sm px-2 py-4">{{ product:price }}</td>
                            <td class="text-sm px-2 py-4">{{ quantity }}</td>
                            <td class="text-sm px-2 py-4">{{ total }}</td>
                        </tr>
                    {{ /items }}
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-sm px-2 py-4 font-semibold">Items Total</td>
                        <td class="text-sm px-2 py-4">{{ items_total }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="flex items-center justify-end my-12">
                <a class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold px-4 py-2" href="/checkout">Continue to Checkout</a>
            </div>
        {{ /sc:cart }}
    </div>
</main>
