<!doctype html>
<html lang="{{ site_short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title or view:title }} | {{ site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/site.css' }}">
        <script src="{{ mix src='js/site.js' }}"></script>
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    </head>
    <body>
        {{ partial:header }}

        <main class="container mx-auto">
            {{ template_content }}
        </main>

        {{ partial:footer }}
        {{ yield:scripts }}
    </body>
</html>
