<section class="py-8 border-b border-gray-200">
    <div class="max-w-4xl mx-auto">
        <h2 class="text-center text-4xl font-semibold mb-2">Search Results: {{ get:q }}</h2>
    </div>
</section>

{{ search:results as="products" paginate="true" limit="12" }}
<div class="py-4 border-b border-gray-200">
    <div class="max-w-4xl mx-auto">
        <div class="flex items-center justify-between">
            <span class="text-gray-700 text-sm">{{ paginate }}{{ total_items }}{{ /paginate }} products</span>
        </div>
    </div>
</div>

<main>
    <div class="max-w-4xl mx-auto">
        {{ if no_results }}
            <p>Aw snap! There's no products that match your filters.</p>
        {{ /if }}

        <div class="grid grid-cols-3 gap-6 my-12">
            {{ products }}
                <a class="block" href="{{ url }}">
                    <div class="w-full h-64 bg-gray-200 mb-2 p-2 flex items-center justify-center">
                        {{ gallery }}
                            {{ if first }}
                                <img class="max-h-full" src="{{ url }}" alt="{{ alt }}">
                            {{ /if }}
                        {{ /gallery }}
                    </div>
                    <h2 class="text-lg text-gray-900 font-semibold mb-1">
                        {{ title }}
                        <span class="text-sm ml-1">
                            {{ if product_variants }}
                                From {{ product_variants:options }}{{ if first }}{{ price }}{{ /if }}{{ /product_variants:options }}
                            {{ else }}
                                {{ price }}
                            {{ /if }}
                        </span>
                    </h2>
                    <p class="text-sm text-gray-900">{{ description | truncate:90 }}</p>
                </a>
            {{ /products }}
        </div>

        {{ paginate }}
            <div class="flex items-center justify-between w-1/2 mx-auto my-12">
                <a class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold px-4 py-2 {{ if !prev_page }} cursor-not-allowed {{ /if }}" href="{{ prev_page }}">Previous</a>
                <p>{{ current_page }} of {{ total_pages }} pages</p>
                <a class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold px-4 py-2 {{ if !next_page }} cursor-not-allowed {{ /if }}" href="{{ next_page }}">Next</a>
            </div>
        {{ /paginate }}
    </div>
</main>
{{ /search:results }}
