{{ section:progress }}28%{{ /section:progress }}
{{ section:stage }}Account{{ /section:stage }}

<h1 class="text-gray-800 font-bold text-2xl mb-4">Account</h1>

{{ if logged_in }}
	{{ redirect to="/checkout/address" }}
{{ /if }}

<div class="flex flex-col md:flex-row md:space-x-12">

{{ user:register_form redirect="/checkout/address" class="mb-4 md:mb-0 w-full md:w-2/5" }}
	<div class="bg-gray-200 px-4 py-6">
		<h2 class="text-gray-800 font-bold text-xl mb-4">Register</h2>

		<!-- form errors -->

		<div class="w-full mb-4 flex flex-col">
			<label
				for="name"
				class="text-gray-800 font-semibold mb-1"
			>Name</label>

			<input
				class="bg-white p-2 text-gray-800"
				id="name"
				type="text"
				name="name"
				placeholder="Duncan M"
				value="{{ old:name }}"
				required
			>
		</div>

		<div class="w-full mb-4 flex flex-col">
			<label
				for="email"
				class="text-gray-800 font-semibold mb-1"
			>Email</label>

			<input
				class="bg-white p-2 text-gray-800"
				id="email"
				type="email"
				name="email"
				placeholder="duncan@example.com"
				value="{{ old:email }}"
				required
			>
		</div>

		<div class="w-full mb-4 flex flex-col">
			<label
				for="password"
				class="text-gray-800 font-semibold mb-1"
			>Password</label>

			<input
				class="bg-white p-2 text-gray-800"
				id="password"
				type="password"
				name="password"
				placeholder=""
				value="{{ old:password }}"
				required
			>
		</div>

		<div class="flex flex-row items-center mt-6">
			<button
				class="bg-blue-500 text-white font-bold uppercase flex items-center justify-center px-6 py-2"
				type="submit"
			>Register</button>

			<a class="ml-4 text-blue-500 font-medium" href="{{ link to="/checkout/address" }}">Continue as Guest</a>
		</div>
	</div>
{{ /user:register_form }}

{{ user:login_form redirect="/checkout/address" class="mb-4 md:mb-0 w-full md:w-2/5" }}
	<div class="bg-gray-200 px-4 py-6">
		<h2 class="text-gray-800 font-bold text-xl mb-4">Login</h2>

		<!-- form errors -->

		<div class="w-full mb-4 flex flex-col">
			<label
				for="email"
				class="text-gray-800 font-semibold mb-1"
			>Email</label>

			<input
				class="bg-white p-2 text-gray-800"
				id="email"
				type="email"
				name="email"
				placeholder="duncan@example.com"
				value="{{ old:email }}"
				required
			>
		</div>

		<div class="w-full mb-4 flex flex-col">
			<label
				for="password"
				class="text-gray-800 font-semibold mb-1"
			>Password</label>

			<input
				class="bg-white p-2 text-gray-800"
				id="password"
				type="password"
				name="password"
				placeholder=""
				value="{{ old:password }}"
				required
			>
		</div>

		<div class="flex flex-row items-center mt-6">
			<button
				class="bg-blue-500 text-white font-bold uppercase flex items-center justify-center px-6 py-2"
				type="submit"
			>Login</button>
		</div>
	</div>
{{ /user:login_form }}

</div>
