<section class="py-8 border-b border-gray-200">
    <div class="max-w-4xl mx-auto">
        <h2 class="text-center text-4xl font-semibold mb-2">Checkout</h2>
    </div>
</section>

<main>
    <div class="max-w-4xl mx-auto my-12 px-4">
        <div class="flex flex-row w-full">
            <div class="w-full">
                <div class="max-w-lg">
                    <h2 class="text-gray-900 font-semibold text-2xl mb-6">Thanks for your purchase!</h2>

                    <p>You've checked out successfully. Your order number is <strong>{{ order_number }}</strong> We'll be in touch regarding your order shortly.</p>
                </div>
            </div>

            <div class="w-1/3">
                {{ partial:checkout/cart }}
            </div>
        </div>
    </div>
</main>
