{{ if {sc:cart:count} === 0 }}
    {{ redirect to="/cart" }}
{{ /if }}

<section class="py-8 border-b border-gray-200">
    <div class="max-w-4xl mx-auto">
        <h2 class="text-center text-4xl font-semibold mb-2">Checkout</h2>
    </div>
</section>

<main>
    <div class="max-w-4xl mx-auto my-12">
        <div class="flex flex-row w-full">
            <div class="w-full">
                <div class="max-w-lg">
                    <h2 class="text-gray-900 font-semibold text-2xl mb-6">Complete</h2>

                    <p>The checkout process has been succesful. We will be in touch about your order in the next couple of minutes.</p>
                </div>
            </div>

            <div class="w-1/3">
                <div class="bg-gray-200 p-4">
                    <h2>Your cart</h2>

                    {{ sc:cart:items }}
                        {{ product:title }} {{ price }}
                    {{ /sc:cart:items }}
                </div>
            </div>
        </div>
    </div>
</main>
