{{ if {sc:cart:count} === 0 }}
    {{ redirect to="/cart" }}
{{ /if }}

<section class="py-8 border-b border-gray-200">
    <div class="max-w-4xl mx-auto">
        <h2 class="text-center text-4xl font-semibold mb-2">Checkout</h2>
    </div>
</section>

<main>
    <div class="max-w-4xl mx-auto my-12">
        <div class="flex flex-row w-full">
            <div class="w-full">
                <div class="max-w-lg">
                    <h2 class="text-gray-900 font-semibold text-2xl mb-6">Your information</h2>

                    {{ partial:checkout/errors }}

                    {{ sc:cart:update redirect="/checkout/shipping" }}
                        <div class="flex flex-row space-x-4 border-b border-gray-200 pb-4 mb-4">
                            <div class="flex-1 flex flex-col mb-2">
                                <label for="name" class="mb-1 text-xs text-gray-700">Name</label>
                                <input type="text" id="name" name="name" placeholder="Alistair Murray" class="bg-white rounded-md border border-gray-200 p-2 text-gray-800" value="{{ old:name }}">
                            </div>

                            <div class="flex-1 flex flex-col mb-2">
                                <label for="email" class="mb-1 text-xs text-gray-700">Email</label>
                                <input type="email" id="email" name="email" placeholder="alistair.murray@example.scot" class="bg-white rounded-md border border-gray-200 p-2 text-gray-800" value="{{ old:email }}">
                            </div>
                        </div>

                        <div x-data="{ useShippingAddressForBilling: true }">
                            <h3 class="text-gray-900 font-semibold mb-4">Shipping Address</h3>

                            <div class="flex flex-row space-x-4 mb-2">
                                <div class="flex-1 flex flex-col mb-2">
                                    <label for="shipping_name" class="mb-1 text-xs text-gray-700">Name</label>
                                    <input type="text" id="shipping_name" name="shipping_name" placeholder="Alistair Murray" class="bg-white rounded-md border border-gray-200 p-2 text-gray-800" value="{{ old:shipping_name }}">
                                </div>

                                <div class="flex-1 flex flex-col mb-2">
                                    <label for="shipping_address" class="mb-1 text-xs text-gray-700">Address</label>
                                    <input type="text" id="shipping_address" name="shipping_address" placeholder="123 George Square" class="bg-white rounded-md border border-gray-200 p-2 text-gray-800" value="{{ old:shipping_address }}">
                                </div>
                            </div>

                            <div class="flex flex-row space-x-4 mb-2">
                                <div class="flex-1 flex flex-col mb-2">
                                    <label for="shipping_city" class="mb-1 text-xs text-gray-700">City</label>
                                    <input type="text" id="shipping_city" name="shipping_city" placeholder="Glasgow" class="bg-white rounded-md border border-gray-200 p-2 text-gray-800" value="{{ old:shipping_city }}">
                                </div>

                                <div class="flex-1 flex flex-col mb-2">
                                    <label for="shipping_zip_code" class="mb-1 text-xs text-gray-700">Postal code</label>
                                    <input type="text" id="shipping_zip_code" name="shipping_zip_code" placeholder="G12 345" class="bg-white rounded-md border border-gray-200 p-2 text-gray-800" value="{{ old:shipping_zip_code }}">
                                </div>
                            </div>

                            <div class="flex flex-row space-x-4 border-b border-gray-200 pb-4 mb-4">
                                <div class="flex-1 flex flex-col mb-2">
                                    <label for="shipping_country" class="mb-1 text-xs text-gray-700">Country</label>
                                    <select name="shipping_country" id="shipping_country" class="bg-gray-200 rounded-md p-2 text-gray-800" value="{{ old:shipping_country }}">
                                        {{ sc:countries }}
                                            <option value="{{ iso }}">{{ name }}</option>
                                        {{ /sc:countries }}
                                    </select>
                                </div>

                                <div class="flex-1"></div>
                            </div>

                            <h3 class="text-gray-900 font-semibold mb-4">Billing Address</h3>

                            <label for="use_shipping_address_for_billing" class="mb-1 text-sm text-gray-700 flex flex-row items-center">
                                <input type="checkbox" id="use_shipping_address_for_billing" name="use_shipping_address_for_billing" x-model="useShippingAddressForBilling" class="mr-2" value="{{ old:use_shipping_address_for_billing }}">
                                Do you want to use your shipping address as your billing address?
                            </label>

                            <div x-show="!useShippingAddressForBilling" class="mt-6">
                                <div class="flex flex-row space-x-4 mb-2">
                                    <div class="flex-1 flex flex-col mb-2">
                                        <label for="billing_name" class="mb-1 text-xs text-gray-700">Name</label>
                                        <input type="text" id="billing_name" name="billing_name" placeholder="Alistair Murray" class="bg-white rounded-md border border-gray-200 p-2 text-gray-800" value="{{ old:billing_name }}">
                                    </div>

                                    <div class="flex-1 flex flex-col mb-2">
                                        <label for="billing_address" class="mb-1 text-xs text-gray-700">Address</label>
                                        <input type="text" id="billing_address" name="billing_address" placeholder="123 George Square" class="bg-white rounded-md border border-gray-200 p-2 text-gray-800" value="{{ old:billing_address }}">
                                    </div>
                                </div>

                                <div class="flex flex-row space-x-4 mb-2">
                                    <div class="flex-1 flex flex-col mb-2">
                                        <label for="billing_city" class="mb-1 text-xs text-gray-700">City</label>
                                        <input type="text" id="billing_city" name="billing_city" placeholder="Glasgow" class="bg-white rounded-md border border-gray-200 p-2 text-gray-800" value="{{ old:billing_city }}">
                                    </div>

                                    <div class="flex-1 flex flex-col mb-2">
                                        <label for="billing_zip_code" class="mb-1 text-xs text-gray-700">Postal code</label>
                                        <input type="text" id="billing_zip_code" name="billing_zip_code" placeholder="G12 345" class="bg-white rounded-md border border-gray-200 p-2 text-gray-800" value="{{ old:billing_zip_code }}">
                                    </div>
                                </div>

                                <div class="flex flex-row space-x-4">
                                    <div class="flex-1 flex flex-col mb-2">
                                        <label for="billing_country" class="mb-1 text-xs text-gray-700">Country</label>
                                        <select name="billing_country" id="billing_country" class="bg-gray-200 rounded-md p-2 text-gray-800" value="{{ old:billing_country }}">
                                            {{ sc:countries }}
                                                <option value="{{ iso }}">{{ name }}</option>
                                            {{ /sc:countries }}
                                        </select>
                                    </div>

                                    <div class="flex-1"></div>
                                </div>
                            </div>

                            <div class="border-b border-gray-200 pb-4 mb-4"></div>
                        </div>

                        <div class="my-6 flex justify-end">
                            <button class="bg-gray-200 hover:bg-gray-300 text-gray-700 font-semibold px-4 py-2 focus:outline-none">Continue to Shipping</button>
                        </div>
                    {{ /sc:cart:update }}
                </div>
            </div>

            <div class="w-1/3">
                {{ partial:checkout/cart }}
            </div>
        </div>
    </div>
</main>
