{{ if {sc:cart:has} === false && segment_2 !== 'complete' }}
    {{ redirect to='/' }}
{{ /if }}

<!doctype html>
<html lang="{{ site_short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title or site:name }}</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    </head>
    <body>
        <div class="bg-white">
            <!-- Session messages -->
            {{ if (errors | count) >= 1 }}
                <div class="w-full bg-red-600 py-3">
                    <span class="text-white font-bold px-12">{{ errors }}</span>
                </div>
            {{ elseif (session:message) }}
                <div class="w-full bg-blue-500 py-3">
                    <span class="text-white font-bold px-12">{{ session:message }}</span>
                </div>
            {{ /if }}

            <header class="px-6 md:px-12 w-full my-6 md:my-12">
                <nav class="hidden md:flex items-center justify-between mb-1">
                    <a class="flex-1 text-lg text-gray-900" href="{{ link to="/checkout/email" }}">Email</a>
                    <a class="flex-1 text-lg text-gray-900" href="{{ link to="/checkout/account" }}">Account</a>
                    <a class="flex-1 text-lg text-gray-900" href="{{ link to="/checkout/address" }}">Address</a>
                    <a class="flex-1 text-lg text-gray-900" href="{{ link to="/checkout/shipping" }}">Shipping</a>
                    <a class="flex-1 text-lg text-gray-900" href="{{ link to="/checkout/payment" }}">Payment</a>
                </nav>

                <h2 class="text-gray-800 text-lg mb-1"><span class="font-semibold">Checkout:</span> {{ yield:stage }}</h2>

                <div class="w-full h-2 bg-gray-200 rounded-lg relative">
                    <div class="absolute h-full bg-blue-400" style="width: {{ yield:progress }};"></div>
                </div>
            </header>

            <main class="px-6 md:px-12 w-full">
                {{ template_content }}
            </main>

            <!-- Some useful information to help with debugging. -->
            <footer class="bg-gray-200 px-6 md:px-12 py-8 w-full mt-10 md:mt-20">
                {{ sc:cart }}
                    <h2 class="mb-1 font-bold text-grey-800">Debugging Information</h2>
                    <strong class="font-semibold">Cart ID:</strong> {{ id }}<br>
                {{ /sc:cart }}
            </footer>
        </div>

        {{ yield:scripts }}
    </body>
</html>
