{{ section:progress }}88%{{ /section:progress }}

<h1 class="text-gray-800 font-bold text-2xl mb-4">Payment</h1>

<div class="flex justify-between">
    {{ sc:checkout redirect="/checkout/complete" class="flex-1" }}
        <div class="w-full md:w-1/2 mb-4 flex flex-col">
            <label
                for="email"
                class="text-gray-800 font-semibold mb-1"
            >Email</label>

            <input
                class="bg-gray-200 p-2 text-gray-800"
                id="email"
                type="email"
                name="email"
                placeholder="duncan@example.com"
                value="{{ old:email }}"
                required
            >
        </div>

        <button
            class="bg-blue-500 text-white font-bold uppercase flex items-center justify-center px-6 py-2"
            type="submit"
        >Continue</button>
    {{ /sc:checkout }}

    {{ sc:cart }}
        <div class="w-full md:w-1/3 bg-gray-200 p-4">
            <div class="mb-4">
                <h2 class="text-lg font-semibold mb-1">Shipping to</h2>
                <p>{{ shipping_name }}</p>
                <p>{{ shipping_address }}</p>
                <p>{{ shipping_city }}</p>
                <p>{{ shipping_zip_code }}</p>
                <p>{{ shipping_country }}</p>
            </div>

            <div class="mb-4">
                <h2 class="text-lg font-semibold mb-1">Shipping to</h2>
                <p>{{ shipping_name }}</p>
                <p>{{ shipping_address }}</p>
                <p>{{ shipping_city }}</p>
                <p>{{ shipping_zip_code }}</p>
                <p>{{ shipping_country }}</p>
            </div>
        </div>
    {{ /sc:cart }}
</div>
