{{# If there's nothing in the cart, redirect the user to the Cart page. #}}
{{ if {sc:cart:count} === 0 }}
    {{ redirect to="/cart" }}
{{ /if }}

<section class="fluid-container pt-12 text-center">
    {{ partial:typography/prose as="article" class="contents" }}
        <h1>Checkout</h1>
    {{ /partial:typography/prose }}
</section>

<main>
    <div class="max-w-4xl mx-auto my-12 px-4">
        <div class="flex flex-col md:flex-row w-full">
            <div class="w-full">
                <div class="max-w-lg">
                    <h2 class="text-gray-900 font-bold text-2xl mb-4">
                        Payment
                    </h2>

                    {{ partial:checkout/errors }}

                    {{ sc:checkout x-data="checkoutForm" id="checkout-form" redirect="/checkout/complete" @submit.prevent="submit" }}
                        <div>
                            {{ if {sc:gateways:count} > 1 }}
                                <div class="grid md:grid-cols-12 gap-6 mb-6">
                                    {{ partial:components/forms/select_field width="100" handle="gateway" display="Payment Method" x-model="gateway" required="true" }}
                                        {{ sc:gateways }}
                                            <option value="{{ class }}" {{ if first }} selected {{ /if }}>{{ display }}</option>
                                        {{ /sc:gateways }}
                                    {{ /partial:components/forms/select_field }}
                                </div>
                            {{ /if }}

                            {{ sc:gateways }}
                                <div class="pb-4 mb-4" x-show="gateway === '{{ formatted_class }}'">
                                    {{ partial src="checkout/gateways/{ handle }" }}
                                </div>
                            {{ /sc:gateways }}
                        </div>

                        <template x-if="isOnSiteGateway">
                            <div class="my-6 flex justify-center">
                                {{ partial:components/button label="Finish & Pay" type="submit" as="button" }}
                            </div>
                        </template>
                    {{ /sc:checkout }}
                </div>
            </div>

            <div class="w-full md:w-2/5 mb-4 md:mb-0">
                {{ partial:checkout/cart }}
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('checkoutForm', () => ({
            isSubmitting: false,
            gateway: '{{ sc:gateways }}{{ if first }}{{ formatted_class }}{{ /if }}{{ /sc:gateways }}',

            // There's currently no way to detect if a gateway is on-site or off-site.
            // For now, we've just hard coded Stripe & the Dummy Gateway as on-site.
            get isOnSiteGateway() {
                return this.gateway.includes('Stripe') || this.gateway.includes('Dummy');
            },

            get isStripe() {
                return this.gateway.includes('Stripe');
            },

            submit() {
                this.isSubmitting = true;

                this.$el.querySelector('button').disabled = true;
                this.$el.querySelector('button').classList.add('opacity-50');

                this.isStripe ? this.$dispatch('StripeConfirmPayment') : this.$el.submit();
            },
        }));
    });
</script>
