<section class="fluid-container pt-12 text-center">
    {{ partial:typography/prose as="article" class="contents" }}
        <h1>{{ title }}</h1>
    {{ /partial:typography/prose }}
</section>

{{ collection:products sort="{get:sort | urldecode}" as="products" paginate="true" limit="12" }}
    <div class="border-b border-gray-200">
        <div class="max-w-4xl mx-auto my-12 px-6">
            <div class="flex items-center justify-between">
                <form id="sort-form" class="flex items-center" action="{{ current_url }}" method="get">
                    <label class="text-gray-700 mr-3 font-semibold" for="sort">Sort by</label>

                    <select
                        id="sort"
                        name="sort"
                        class="rounded border-neutral focus-visible:border-primary focus-visible:ring focus-visible:ring-primary motion-safe:transition caret-primary"
                        onchange="document.getElementById('sort-form').submit()"
                    >
                        <option
                            value="title:asc"
                            {{ if get:sort == 'title:asc' }} selected {{ /if }}
                        >
                            Alphabetically, A-Z
                        </option>

                        <option
                            value="title:desc"
                            {{ if get:sort == 'title:desc' }} selected {{ /if }}
                        >
                            Alphabetically, Z-A
                        </option>

                        <option
                            value="price:asc"
                            {{ if get:sort == 'price:asc' }} selected {{ /if }}
                        >
                            Price, Low-High
                        </option>

                        <option
                            value="price:desc"
                            {{ if get:sort == 'price:desc' }} selected {{ /if }}
                        >
                            Price, High-Low
                        </option>
                    </select>
                </form>

                <span class="text-gray-700 text-sm">
                    {{ paginate }}
                        {{ total_items }}
                    {{ /paginate }} products
                </span>
            </div>
        </div>
    </div>

    <main>
        <div class="max-w-4xl mx-auto my-12 px-6">
            {{ if no_results }}
                <p>Aw snap! There's no products that match your filters.</p>
            {{ /if }}

            <div class="grid grid-cols-3 gap-6 my-12">
                {{ products }}
                    <a class="block transition hover:opacity-90" href="{{ url }}">
                        <div class="w-full mb-2 flex items-center justify-center">
                            {{ if photos }}
                                {{ photos }}
                                    {{ if first }}
                                        {{ partial:components/picture :image="url" }}
                                    {{ /if }}
                                {{ /photos }}
                            {{ else }}
                            <div
                                class="
                                    w-full bg-white flex flex-col justify-between items-center p-6 border border-neutral/10 shadow-lg rounded no-underline focus:outline-none focus-visible:ring-2 ring-offset-2 ring-primary
                                "
                            >
                                <p class="text-gray-600 font-medium py-16">
                                    No image available
                                </p>
                            </div>
                            {{ /if }}
                        </div>
                        <h2 class="text-xl text-gray-900 text-center font-semibold flex items-center justify-center">
                            <span>{{ title }}</span>

                            <span class="text-sm font-light ml-1">
                                &mdash; {{ if product_variants }}
                                    From
                                    {{ product_variants:options }}
                                        {{ if first }}
                                            {{ price }}
                                        {{ /if }}
                                    {{ /product_variants:options }}

                                {{ else }}
                                    {{ price }}
                                {{ /if }}
                            </span>
                        </h2>
                    </a>
                {{ /products }}
            </div>

            {{ paginate }}
                {{ if prev_page || next_page }}
                    <div class="mt-16 mb-6 border-t mx-auto py-8">
                        <div class="flex items-center justify-between">
                            <div>
                                {{ if prev_page }}
                                    <a
                                        class="bg-green-100 hover:opacity-75 text-gray-700 font-semibold rounded-lg px-4 py-2"
                                        href="{{ prev_page }}"
                                    >
                                        ← Previous
                                    </a>
                                {{ /if }}
                            </div>

                            <p class="font-medium">Page {{ current_page }} of
                                {{ total_pages }}</p>
                            <div>
                                {{ if next_page }}
                                    <a
                                        class="bg-green-100 hover:opacity-75 text-gray-700 font-semibold rounded-lg px-4 py-2"
                                        href="{{ next_page }}"
                                    >
                                        → Next
                                    </a>
                                {{ /if }}
                            </div>
                        </div>
                    </div>
                {{ /if }}
            {{ /paginate }}
        </div>
    </main>
{{ /collection:products }}
