<article>
    <div class="max-w-5xl mx-auto my-12 px-4 md:px-0">
        <div class="flex flex-col md:flex-row md:items-stretch">
            <div class="md:w-1/3">
                {{ if photos }}
                    <div class="flex flex-col">
                        {{ photos }}
                            {{ partial:components/picture :image="url" }}
                        {{ /photos }}
                    </div>
                {{ else }}
                    <div
                        class="
                            bg-white flex flex-col justify-between items-center p-6 border border-neutral/10 shadow-lg rounded no-underline focus:outline-none focus-visible:ring-2 ring-offset-2 ring-primary
                        "
                    >
                        <p class="text-gray-600 font-medium py-16">
                            No image available
                        </p>
                    </div>
                {{ /if }}
            </div>

            <div class="md:w-2/3 md:px-6">
                {{ partial:typography/prose as="article" class="contents" }}
                    <h1 class="mb-2">{{ title }}</h1>

                    <h3 class="mt-0">
                        {{ if product_variants }}
                            From
                            {{ product_variants:options }}
                                {{ if first }}
                                    {{ price }}
                                {{ /if }}
                            {{ /product_variants:options }}
                        {{ else }}
                            {{ price }}
                        {{ /if }}
                    </h3>

                    <div>{{ description }}</div>
                {{ /partial:typography/prose }}

                {{ if {sc:cart:alreadyExists :product="id"} == true }}
                    <div
                        class="border-t border-gray-200 py-4 mt-4 flex justify-between items-center"
                    >
                        <span class="font-medium"
                            >This product is already in your cart. <a class="text-green-500 hover:opacity-75" href="/cart">View Cart</a></span
                        >

                        {{ sc:cart:updateItem :product="id" }}
                            <select
                                class="bg-white p-1 rounded w-16"
                                name="quantity"
                                onchange="this.parentElement.submit()"
                            >
                                {{ loop from="1" to="5" }}
                                    <option
                                        value="{{ value }}"
                                        {{ if quantity == value }} selected {{ /if }}
                                    >
                                        {{ value }}
                                    </option>
                                {{ /loop }}
                            </select>
                        {{ /sc:cart:updateItem }}
                    </div>
                {{ else }}
                    {{ sc:cart:addItem x-data="addToCartForm" class="border-t border-gray-200 py-4 mt-4 flex justify-between items-center" redirect="/cart" @submit.prevent="submit" }}
                        <input type="hidden" name="product" value="{{ id }}" />

                        <div class="flex flex-row items-center space-x-3">
                            {{ if product_variants }}
                                {{ partial:components/forms/select_field width="50" handle="variant" display="Variant" }}
                                    {{ product_variants:options }}
                                        <option value="{{ key }}">
                                            {{ variant }} ({{ price }})
                                        </option>
                                    {{ /product_variants:options }}
                                {{ /partial:components/forms/select_field }}
                            {{ /if }}

                            {{ partial:components/forms/select_field width="50" handle="quantity" display="Quantity" }}
                                {{ loop from="1" to="5" }}
                                    <option value="{{ value }}" {{ if value == 1 }} selected {{ /if }}>{{ value }}</option>
                                {{ /loop }}
                            {{ /partial:components/forms/select_field }}
                        </div>

                        {{ partial:components/button label="Add to cart" type="submit" as="button" }}
                    {{ /sc:cart:addItem }}
                {{ /if }}
            </div>
        </div>
    </div>
</article>

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('addToCartForm', () => ({
            isSubmitting: false,

            submit() {
                this.isSubmitting = true

                this.$el.querySelector('button').disabled = true
                this.$el.querySelector('button').classList.add('opacity-50')

                this.$el.submit()
            },
        }))
    })
</script>
