<p class="mb-6 text-sm text-gray-600">The <strong>Dummy Gateway</strong> is intented for use in testing/development. You can enter any card details and you'll get a successful payment.</p>

<div class="grid md:grid-cols-12 gap-6 mb-6">
    {{ partial:components/forms/input_field width="50" handle="cardholder" display="Name on Card" }}
    {{ partial:components/forms/input_field width="50" handle="card_number" display="Card Number" }}

    {{ partial:components/forms/select_field width="50" handle="expiry_month" display="Expiry Month" }}
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    {{ /partial:components/forms/select_field }}

    {{ partial:components/forms/select_field width="50" handle="expiry_year" display="Expiry Year" }}
        {{ range from="{now|format('Y')}" to="{{now|format('Y')} + 5}" }}
            <option value="{{ value | substr(-2) }}">{{ value }}</option>
        {{ /range }}
    {{ /partial:components/forms/select_field }}

    {{ partial:components/forms/input_field width="50" handle="cvc" display="CVC (Security Code)" }}
</div>
