<div class="flex flex-col space-y-3 md:col-span-12">
    <label class="font-bold" for="card-details">Card Details</label>

    <div class="flex flex-col space-y-2">
        <div class="bg-white p-4 w-full rounded border-neutral focus-visible:border-primary focus-visible:ring focus-visible:ring-primary motion-safe:transition caret-primary">
            <div id="card-element"></div>
        </div>
    </div>
</div>

<input id="stripePaymentMethod" type="hidden" name="payment_method">

<script src="https://js.stripe.com/v3/"></script>
<script>
    const checkoutForm = document.getElementById('checkout-form')

    var stripe = Stripe('{{ gateway-config:key }}');
    var elements = stripe.elements();

    const card = elements.create('card');
    card.mount('#card-element');

    card.addEventListener('change', ({error}) => {
        const displayError = document.getElementById('card-errors');

        if (error) {
            alert('There was an issue when loading: '+error.message);
        }
    });

    function confirmPayment() {
        stripe.confirmCardPayment('{{ client_secret }}', {
            payment_method: {
                card: card,
            },
        }).then(function (result) {
            if (result.error) {
                alert(result.error.message);

                checkoutForm.querySelector('button[type="submit"]').removeAttribute('disabled')
            } else if (result.paymentIntent.status === 'succeeded') {
                var paymentMethod = document.getElementById('stripePaymentMethod');
                paymentMethod.value = result.paymentIntent.payment_method;

                document.getElementById('checkout-form').submit();
            }
        });
    }
</script>
